<%- include('partials/header') -%>
<div class="container">
  <div class="flex justify-around">

    <div class="card col-3 p-2 flex-1 mr-2">
      <img src="<%= post.image%>" class="card-img-top" alt="">
      <div class="card-body">
        <h2 class="card-title font-bold book-title text-xl"><%= post.title %></h2>
        <p class="card-text text-xl mb-2"><%= post.caption %></p>
        <p>Condition: <%= post.condition %>/5</p>
        <p>Price: USD $<%= post.price %></p>

        <%if(post.user == user.id){ %>
          <form
            action="/post/deletePost/<%= post.id %>?_method=DELETE"
            method="POST"
            class="col-3"
          >
            <button class="btn btn-primary fa fa-trash inline-block rounded-lg bg-indigo-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700 mt-2" type="submit"></button>
          </form>
        <%}%>
      </div>
    </div>
    
    <div class="flex-1 mt-4">
      <h2 class="text-xl font-bold">Add a comment</h2>
      <form action="/comment/createComment/<%=post._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment:</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="inline-block rounded-lg bg-indigo-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700">Add Comment</button>
      </form>

      <ul>
        <% for(let i=0; i<comments.length; i++) {%>
          <li class="flex flex-col list-none border my-2 p-2">
            <%= comments[i].comment%>
          </li>
        <% } %>
      </ul>
    </div>
  </div>

  <footer class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 mt-4 sm:px-6">
    <a class="inline-block rounded-lg bg-indigo-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700" href="/profile">Return to Profile</a>
    <a class="inline-block rounded-lg bg-indigo-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700" href="/feed">Return to Feed</a>
  </footer> 
</div>

<%- include('partials/footer') -%>
